.body {
  font-family: inter;
}


.form {
  display: grid;
  margin: 10px auto;
  max-width: 200px;
  position: relative;
}

.button {
  width: 100px;
  margin: 10px auto 5px;
  padding: 3px 0;
  text-align: -moz-center;
  text-align: -webkit-center;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 1px 1px #292c2ce3;
}

.button:active {
  opacity: 0.5;
}

.input {
  width: 150px;
  margin: 10px auto 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus {
  outline: none;
}

.block {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  align-items: center;
}

.block__title {
  margin: 0;
}

.block__span {
  margin: 0;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  text-align: center;
}

.block__span_type-place {
  width: 85px;
  border: none;
  white-space: break-spaces;
}

.header__time {
  width: 100px;
  margin: 15px auto;
  text-align: center;
}

.main {
  min-height: 90vh;
}
